/* AdminPanel.css */

.admin-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 600px;
  height: 100vh;
  margin: auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto; /* Scrollable for longer content */
}

.admin-panel h2 {
  color: #333;
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
  text-align: center;
  font-weight: 600;
}

.admin-panel .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}

.admin-panel label {
  font-size: 1rem;
  color: #495057;
  margin-bottom: 5px;
}

.admin-panel input[type="text"],
.admin-panel input[type="email"],
.admin-panel input[type="password"],
.admin-panel textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 8px;
  font-size: 1rem;
  color: #495057;
  transition: border-color 0.3s;
}

.admin-panel input:focus,
.admin-panel textarea:focus {
  border-color: #007bff;
  outline: none;
}

.admin-panel button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}

.admin-panel button:hover {
  background-color: #0056b3;
}

.admin-panel .error-message,
.admin-panel .success-message {
  padding: 10px;
  border-radius: 8px;
  font-size: 1rem;
  text-align: center;
}

.admin-panel .error-message {
  color: #d9534f;
  background-color: #f8d7da;
}

.admin-panel .success-message {
  color: #28a745;
  background-color: #d4edda;
}

.admin-toggle-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 15px;
  background-color: #0056b3;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9em;
  z-index: 1000;
  transition: transform 0.3s, background-color 0.3s;
}

.admin-toggle-button:hover {
  background-color: #26507d;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .admin-panel {
    width: 100%;
    padding: 1rem;
  }

  .admin-panel h2 {
    font-size: 1.5rem;
  }

  .admin-toggle-button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}
